<script src="https://unpkg.com/vue"></script>

<div id="example">
    <template v-if="ok">
      <h1>Title</h1>
      <p>Paragraph 1</p>
      <p>Paragraph 2</p>
  </template>
    <template v-else>
    <h1>Title 2</h1>
  </template>

    <template v-if="loginType === 'username'">
      <label>Username</label>
      <input placeholder="Enter your username" key="username-input">
</template>
    <template v-else>
  <label>Email</label>
  <input placeholder="Enter your email address" key="email-input">
</template>
    <button @click="toggle">toggle login type</button>
</div>

<script>
    const vm = new Vue({
        el: '#example',
        data: {
            ok: false,
            loginType: 'username'
        },
        methods: {
            toggle: function() {
                this.loginType = this.loginType === 'username' ? null : 'username'
            }
        }
    })
</script>