<script src="https://unpkg.com/vue"></script>

<div id="example">
    <input v-model="newTodoText" v-on:keyup.enter="addNewTodo" placeholder="Add a todo">
    <ul>
        <li is="my-component" v-for="(todo,index) in todos" v-bind:key="todo.id" v-bind:title="todo.title" v-on:remove="todos.splice(index,1)"></li>
    </ul>
</div>

<script>
    Vue.component('my-component', {
        template: `
      <li>
        {{title}}
        <button @click="$emit('remove')">X</button>
      </li>
    `,
        props: ['title']
    })

    function fn(n) {
        console.log(n)
        if (n <= 0) return 1
        return n * fn(n - 1)
    }
    console.log(fn(10))

    const vm = new Vue({
        el: '#example',
        data: {
            newTodoText: '',
            todos: [{
                id: 1,
                title: 'Do the dishes',
            }, {
                id: 2,
                title: 'Take out the trash',
            }, {
                id: 3,
                title: 'Mow the lawn',
            }],
            nextTodoId: 4
        },
        methods: {
            addNewTodo: function() {
                this.todos.push({
                    id: this.nextTodoId++,
                    title: this.newTodoText
                })
                this.newTodoText = ''
            }
        }
    })
</script>